<mat-card class="detail-card">
  <mat-card-header>
    <mat-card-title
      >{{ (selectedSmoothie?.flavor || 'Add Smoothie') | titlecase }}
    </mat-card-title>
    <mat-card-subtitle>{{ (selectedSmoothie?.mixin) || 'N/A' | titlecase }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="smoothieForm" class="detail-form">
      <mat-form-field>
        <input matInput placeholder="Smoothie Flavor" formControlName="flavor" />
        <mat-error *ngIf="formFieldValidator('flavor')">{{ smoothieFormErrors.flavor }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="mixin" placeholder="Mixin">
            <mat-option *ngFor="let mixin of mixinOptions" [value]="mixin">
                {{ (mixin) | titlecase }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="formFieldValidator('mixin')">{{ smoothieFormErrors.mixin }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="size" placeholder="Size">
            <mat-option *ngFor="let size of sizeOptions" [value]="size">
                {{ (size) | titlecase }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="formFieldValidator('size')">{{ smoothieFormErrors.size }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Calories" formControlName="calories" />
        <mat-error *ngIf="formFieldValidator('calories')">{{ smoothieFormErrors.calories }}</mat-error>
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions align="start" class="detail-actions">
    <button mat-button (click)="saveSmoothie()" [disabled]="!smoothieForm.valid">Save</button>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="deleted.emit(selectedSmoothie)"[disabled]="!smoothieForm.valid">Delete</button>
  </mat-card-actions>
</mat-card>
