<mat-card class="list-card">
  <mat-card-header>
    <mat-card-title> Bagel Menu </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list class="bagel-list">
      <button
        mat-raised-button
        class="list-button"
        color="primary"
        (click)="reset.emit()"
      >
        Add New Bagel
      </button>
      <mat-list-item *ngFor="let bagel of bagels">
        <button mat-button class="list-button" (click)="selectBagel(bagel)">
          {{ bagel.flavor | titlecase }}
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
