<nb-card class="detail-card">
  <nb-card-header>
    <nb-card-title
      >{{ (selectedCoffee?.flavor || 'Add Coffee') | titlecase }}
    </nb-card-title>
    <nb-card-subtitle>{{ (selectedCoffee?.type) || 'N/A' | titlecase }}</nb-card-subtitle>
  </nb-card-header>
  <nb-card-content>
    <form [formGroup]="coffeeForm" class="detail-form">
      <nb-form-field>
        <input matInput placeholder="Coffee Flavor" formControlName="flavor" />
        <nb-error *ngIf="formFieldValidator('flavor')">{{ coffeeFormErrors.flavor }}</nb-error>
      </nb-form-field>

      <nb-form-field>
        <nb-select formControlName="type" placeholder="Type">
            <nb-option *ngFor="let type of typeOptions" [value]="type">
                {{ (type) | titlecase }}
            </nb-option>
        </nb-select>
        <nb-error *ngIf="formFieldValidator('type')">{{ coffeeFormErrors.type }}</nb-error>
      </nb-form-field>

      <nb-form-field>
        <nb-select formControlName="style" placeholder="Style">
            <nb-option *ngFor="let style of styleOptions" [value]="style">
                {{ (style) | titlecase }}
            </nb-option>
        </nb-select>
        <nb-error *ngIf="formFieldValidator('style')">{{ coffeeFormErrors.style }}</nb-error>
      </nb-form-field>

      <nb-form-field>
        <nb-select formControlName="size" placeholder="Size">
            <nb-option *ngFor="let size of sizeOptions" [value]="size">
                {{ (size) | titlecase }}
            </nb-option>
        </nb-select>
        <nb-error *ngIf="formFieldValidator('size')">{{ coffeeFormErrors.size }}</nb-error>
      </nb-form-field>
    </form>
  </nb-card-content>
  <nb-card-actions align="start" class="detail-actions">
    <button nb-button (click)="saveCoffee()" [disabled]="!coffeeForm.valid">Save</button>
    <button nb-button (click)="cancel()">Cancel</button>
    <button nb-button (click)="deleted.emit(selectedCoffee)"[disabled]="!coffeeForm.valid">Delete</button>
  </nb-card-actions>
</nb-card>
