<mat-card class="list-card">
  <mat-card-header>
    <mat-card-title> Items </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list class="item-list">
      <button
        mat-raised-button
        class="list-button"
        color="primary"
        (click)="reset.emit()"
      >
        Add New Item
      </button>
      <mat-list-item *ngFor="let item of items">
        <button mat-raised-button *ngIf="item.status==='Stocked'" class="list-button" (click)="selectItem(item)">
          {{ item.name }}
        </button>

        <button mat-raised-button *ngIf="item.status==='Low'" color="accent" class="list-button" (click)="selectItem(item)">
          {{ item.name }}
        </button>

        <button mat-raised-button *ngIf="item.status==='None Available'" color="warn" class="list-button" (click)="selectItem(item)">
          {{ item.name }}
        </button>

        <button mat-raised-button *ngIf="item.status==='Ordered'" color="primary" class="list-button" (click)="selectItem(item)">
            {{ item.name }}
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
