<mat-card class="list-card">
  <mat-card-header>
    <mat-card-title> Fruits </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list class="fruit-list">
      <button
        mat-raised-button
        class="list-button"
        color="primary"
        (click)="reset.emit()"
      >
        Add New Fruit
      </button>
      <mat-list-item *ngFor="let fruit of fruits">
        <button mat-button class="list-button" (click)="selectFruit(fruit)">
          {{ fruit.name }}
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
