<!--
  <mat-card class="detail-card">
    <mat-card-header>
      <mat-card-title
        >{{ selectedPcpart?.flavor || 'Add Pcpart' | titlecase }}
      </mat-card-title>
      <mat-card-subtitle>{{
        selectedPcpart?.type || 'N/A' | titlecase
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="pcpartForm" class="detail-form">
        <mat-form-field>
          <input matInput placeholder="Pcpart Flavor" formControlName="flavor" />
          <mat-error *ngIf="formFieldValidator('flavor')">{{
            pcpartFormErrors.flavor
          }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="type" placeholder="Type">
            <mat-option *ngFor="let type of typeOptions" [value]="type">
              {{ type | titlecase }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formFieldValidator('type')">{{
            pcpartFormErrors.type
          }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="style" placeholder="Style">
            <mat-option *ngFor="let style of styleOptions" [value]="style">
              {{ style | titlecase }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formFieldValidator('style')">{{
            pcpartFormErrors.style
          }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="size" placeholder="Size">
            <mat-option *ngFor="let size of sizeOptions" [value]="size">
              {{ size | titlecase }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formFieldValidator('size')">{{
            pcpartFormErrors.size
          }}</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions align="start" class="detail-actions">
      <button mat-button (click)="savePcpart()" [disabled]="!pcpartForm.valid">
        Save
      </button>
      <button mat-button (click)="cancel()">Cancel</button>
      <button
        mat-button
        (click)="deleted.emit(selectedPcpart)"
        [disabled]="!pcpartForm.valid"
      >
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
-->

<nb-card>
  <nb-card-header>{{
    selectedPcpart?.name || 'Add Pcpart' | titlecase
  }}</nb-card-header>
  <nb-card-body>
    <form [formGroup]="pcpartForm" class="detail-form">
        <input nbInput placeholder="Part Name" formControlName="name" />

        <nb-select formControlName="type" placeholder="Type">
          <nb-option *ngFor="let type of typeOptions" [value]="type">
            {{ type | titlecase }}
          </nb-option>
        </nb-select>

        <input
          nbInput
          placeholder="Year Released"
          formControlName="release_year"
        />
    </form>
  </nb-card-body>
  <nb-card-footer
    ><button nbButton (click)="savePcpart()" [disabled]="!pcpartForm.valid">
      Save
    </button>
    <button nbButton (click)="cancel()">Cancel</button>
    <button
      nbButton
      (click)="deleted.emit(selectedPcpart)"
      [disabled]="!pcpartForm.valid"
    >
      Delete
    </button></nb-card-footer
  >
</nb-card>
