<mat-card class="detail-card">
  <mat-card-header>
    <mat-card-title>{{ selectedTicket?.name || 'Add Ticket' }} </mat-card-title>
    <mat-card-subtitle>{{ selectedTicket?.id || 'N/A' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="ticketForm" class="detail-form">
      <mat-form-field>
        <input matInput placeholder="Ticket Name" formControlName="name" />
        <mat-error *ngIf="formFieldValidator('name')">{{
          ticketFormErrors.name
        }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Description"
          formControlName="description"
        />
        <mat-error *ngIf="formFieldValidator('description')">{{
          ticketFormErrors.description
        }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="status" placeholder="Status">
          <mat-option *ngFor="let option of selectOptions" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formFieldValidator('status')">{{
          ticketFormErrors.status
        }}</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="start" class="detail-actions">
    <button mat-button (click)="saveTicket()" [disabled]="!ticketForm.valid">
      Save
    </button>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="deleted.emit(selectedTicket)">Delete</button>
  </mat-card-actions>
</mat-card>
