.detail-card {
    margin: 20px;
    height: 340px;
    width: 400px;
}

.instrument-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}